build/*
img/*diff?.bmp
data/*
informe/img/gen/*
informe/*.pdf
informe/*.out
informe/*.aux
informe/*.log

.DS_Store
.directory
*.gch

filtros/blur_asm.asm
filtros/blur_c.c
filtros/diff_asm.asm
filtros/diff_c.c

